<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <h1>Hello Welcome</h1>
    <img src="{%static '/images/rohit-sharma-025437189-3x4_1.webp' %}" alt="">
    <!-- <h3>Name : {{name}}</h3>
    <h3>Age :{{age}}</h3>
    <h3>Place :{{place}}</h3>
    <h2>Welcome to all</h2>

    <a href="snd">Second Page</a>
     -->


</body>
</html>